body{
    justify-content: center;
    text-align: center;
}
.wrapper {
    width: 420px;
}
body{
   background-image: url(register2.jpg);
   background-position: center;
   background-size: cover;
   }